<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sovellus/style.css' %}" />
    <title>{% block title %}Minun sivu{% endblock %}</title>
  </head>
  <body>
    <div id="logout">
      {% block logout %}
      {% if	user.is_authenticated	%}
        <p>{{user.username}}</p>
        <a href="/sovellus/logout/"> Logout</a>
      {% else %}
        <p> Kirjaudu sisaan </p>
        <a href="/sovellus/login/"> Login</a>
      {% endif %}
      {% endblock %}

    <div id="content">
      {% block content %}{% endblock %}
  </body>
</html>
